@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra{
    background-color: v.$naranja;

    &__contenido{
            @include m.contenedor;
            display: flex;
            flex-direction: column;
    
    
            @include m.desktop{
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            
            h2{
                @include m.logo;
                color: v.$blanco;
            }
    }
}